.container {
    min-width: 42rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0em;
    line-height: 1.6;
}

.anchor {
  margin-top: -12rem;
  padding-top: 12rem;
}

.flex-section {
  display: flex;
}

.section {
  border-top: 2px solid #3A587B;
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
}

.left-element {
  flex: 1;
  margin-right: 0.8rem;
}

.right-element {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 0.8rem;
}

.section-img {
  /* height: 20rem; */
  max-width: 37%;
}

.fa {
    font-size: 2.1rem;
}

#nic {
    float: right;
}

#navlinks {
    display: none;
    font-size: 0px;
    background-color: black;
    padding: 0.4rem;
    width: 100%;
}

#navlinks a {
    font-size: unset;
    color: #f2f2f2;
    padding: .4em 1em;
    text-decoration: none;
    font-size: 1.35rem;
    background-color: black;
    margin: -1px;
}

/* #topnav a:hover {
    background-color: #ddd;
    color: black;
}

#topnav a.active {
    background-color: #04AA6D;
    color: white;
} */

h2::before {
  content: '';
  display: block;
  height:      3.2em;
  margin-top: -3.2em;
  visibility: hidden;
}

#header {
    font-family: Cinzel;
    font-size: 1.4vw;
    line-height: 0.9;
    padding: 1.2em;
    color: #333;
    top: 1em;
    background: rgba(240, 240, 240, 0.87);
    height:9rem;
}

#headerblock {
    position: sticky;
    top: 0px;
    height: 12rem;
}

#headertext {
    width: 100%;
}

#ht1 {
    font-size: 1.4rem;
    color: #555;
}

#ht2 {
    font-size: 3.7rem;
}

#ht3 {
    font-family: "PT Serif";
    font-style: italic;
    color: #777;
    font-size: 1.27rem;
}


/* #myHeader #navIcon {
    color: black;
    background-color: rgba(240, 240, 240, 0.8);
    float: right;
} */

.fa {
    margin: 0.8rem;
    width: 100%;
    text-align: right;
    padding-right: 2rem;
}

/* .invisible {
    display: none !important;
} */

/* .fullwidth {
    width: 100%;
    position: fixed;
    top: 0;
} */

#lectionary-content {
    margin: 1em 1em 0 3em;
    max-width: 50em;
}

.lection-commem {
    font-style: italic;
}

#lection-titles {
    font-weight: bold;
}

#date {
    /* margin: 0em 1em 1em 1em;
    padding: 0.5em; */
    overflow: hidden;
    width: fit-content;
    margin: auto;
    background-color: aqua;
}

#date-content {}

#lection-date {
    text-align: center;
    margin-bottom: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.calendar-select-elt {
    float: left;
}

#embedded-cal {
    border: solid 0px #777;
    width: 100%;
    height: 100%;
    min-height: 33rem;
}

/* breakpoint widths determined by milligram css */

@media (max-width: 40.0rem) {
    .column-40 {
        max-width: 100% !important;
    }
    .small-pic {
        display: inherit;
    }
    .large-pic {
        display: None;
    }
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
    #navlinks {
        display: block;
    }
    #nic {
        display: none;
    }
    .small-pic {
        display: none;
    }
    .large-pic {
        display: unset;
    }
}

/* @media screen and (min-width: 80.0rem) {
        #nic {
            float: unset;
        }
        #nic a {
            display: none;
        }
}
*/
