**/__pycache__
**/.venv
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.vs
**/.vscode
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/Dockerfile*
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md
