{% extends "_base.jinja" %}

{% block title %}St Constantine's Orthodox Christian Parish{% endblock title %}

{% block meta %}
<meta name="description" content="Orthodox parish in York, UK" />
<meta name="keywords" content="Christian, Orthodox, Jesus, Christ" />
{% endblock meta %}


{% block content %}
<div id="pagecontent">
    <p>
        <img src="static/img/constantine_community.jpg"/>
    </p>
    <div class="row">
        <div class="column column-33">
            <h2>Recent</h2>
            <p>TODO</p>
        </div>
        <div class="column">
            <p>
                Welcome to our parish! We are a community of Orthdox Christians in the city of York.
            </p>
            <p>
                We meet every Sunday at the Chapel of York St. John University, where we celebrate the Divine Liturgy and
                other liturgical services in the English language.
            </p>
            <p>
                Our congregation is effectively pan-Orthodox. We have many British members as well as those whose ‘home’
                churches are Russian, Greek, Romanian, Antiochian, etc. Orthodox Christians of all jurisdictions are welcome
                to join us.
            </p>
            <p>
                We are also frequented by many visitors and enquirers into the Orthodox faith. If you are interested, please
                contact any of our clergy, and come visit us on Sunday morning.
            </p>
        </div>
    </div>
    <h2 id="services">Services</h2>
    <div class="row">
        <div class="column">
            <p>
                Whether you are a life-long member of the Orthodox Church or simply curious, you will find a warm welcome at
                any of our services!
            </p>
            <p>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2347.0863673337185!2d-1.0796971!3d53.965734!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcbd9eaf9527f8b91!2sOrthodox%20Community%20of%20St%20Constantine%20the%20Great!5e0!3m2!1sen!2suk!4v1672667563519!5m2!1sen!2suk"
                    width="200" height="250" style="border:0;margin:.7em;float:left" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <b>Divine Liturgy</b> is served each Sunday at 10am, preceded by <b>Parish Matins</b> at 9.30. Additionally,
                there is a <b>Paraklesis</b> service on the second Wednesday of the month at 7pm and additional services for
                important
                commemorations. Please see the Calendar for a full list.
            </p>
            <p>
                On occasion we offer prayers of thanksgiving or intercession for a variety of events and circumstances in
                the lives of our parishioners at the conclusion of the Divine Liturgy. These can be arranged with the
                Clergy. The sacrament of Confession is available
                to individuals on request, and can be arranged with the clergy.
            </p>
            <p>
                The sacrament of <b>Confession</b> is available to individuals on request, and can be arranged with the
                clergy.
            </p>
            <p>
                Our services are held in the chapel of York St John University. You can find us using the map on the left,
                or by viewing a map of the <a href="https://www.yorksj.ac.uk/map/">university campus</a>.
            </p>
            <h3>Parking</h3>
            <p>
            <ul>
                <li>On-road and off-road parking near the campus is plentiful but expensive.</li>
                <li>
                    There is an excellent ‘Park and Ride’ scheme with six locations. Parking is free, bus fares are
                    reasonable. Sunday buses do not start until 9.30am. Not all routes will bring you close to St John’s. <a
                        href="https://www.itravelyork.info/park-and-ride">Details.</a>
                </li>
            </ul>
            </p>
        </div>
        <div class="column column-40">
            <h2>Calendar</h2>
            TODO
        </div>
    </div>
</div>

<footer>
    <p class="text-center text-muted">&copy; Copyright 2023 St Constantine's Orthodox Parish</p>
</footer>
</div>
{% endblock content %}
