{% extends "_base.jinja" %}

{% block title %}St Constantine's Daily Saints &amp; Readings{% endblock title %}

{% block meta %}
<meta name="description" content="Orthodox parish in York, UK" />
<meta name="keywords" content="Christian, Orthodox, Jesus, Christ, Bible" />
{% endblock meta %}


{% block content %}
<div class="loader"></div>
<div id="pagecontent" class="waitforload">
    <div id="date-display-and-select">
        <h2>
            <div id="daily-date"></div>
        </h2>
        <input type="date" id="date-selector" onchange="dateSelector(event);">
    </div>
    <div id="daily-date"></div>
    <b><div id="major-commem" class="serifs"></div></b>
    <p></p>
    <i>Today we commemorate:</i>
    <div id="daily-commem-general" class="serifs"></div>
    <i>British Isles and Ireland:</i>
    <div id="daily-commem-british" class="serifs"></div>
    <p></p>
    <div id="daily-lect" class="serifs"></div>
    <p></p>
    <div class="serifs" id="a_text_1"></div>
    <div class="serifs" id="a_text_2"></div>
    <div class="serifs" id="g_text"></div>
    <div class="serifs" id="c_text_1"></div>
    <div class="serifs" id="c_text_2"></div>
    <div class="serifs" id="x_text_1"></div>
    <div class="serifs" id="x_text_2"></div>
</div>
{% endblock content %}
