{% extends "_base.jinja" %}

{% block title %}St Constantine's Daily Saints &amp; Readings{% endblock title %}

{% block meta %}
<meta name="description" content="Orthodox parish in York, UK" />
<meta name="keywords" content="Christian, Orthodox, Jesus, Christ, Bible" />
{% endblock meta %}


{% block content %}
<div id="pagecontent">
    <h2>
        <div id="daily-date"></div>
    </h2>
    <input type="date">
    <div id="daily-date"></div>
    <b><div id="major-commem"></div></b>
    <p></p>
    <i>Today we commemorate:</i>
    <div id="daily-commem-general"></div>
    <i>British Isles and Ireland:</i>
    <div id="daily-commem-british"></div>
    <p></p>
    <i>Today's Readings:</i>
    <div id="daily-lect"></div>
    <p></p>
    <div class="anchor" id="a_text_1"></div>
    <div class="anchor" id="a_text_2"></div>
    <div class="anchor" id="g_text"></div>
    <div class="anchor" id="c_text_1"></div>
    <div class="anchor" id="c_text_2"></div>
    <div class="anchor" id="x_text_1"></div>
    <div class="anchor" id="x_text_2"></div>
</div>
{% endblock content %}
